<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.gpoherdez.operaciones" android:installLocation="auto" android:versionName="2.0.5" android:versionCode="10">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="AppGestión" android:debuggable="false" android:icon="@drawable/iconoh"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>